@import 'global';

.button {
  border-radius: 500px;
  outline: 0;
  border: 0;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1;
  text-align: center;
  padding: 17px 48px;
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    transform: scale(1.04);
  }
}
