/** COLORS */
$blue: #1d75de;
$blueLight: #509BF5;
$blueLightWeight: #8ab5e8;
$blueLightDark: #2941ab;
$blueDark: #2d46b9;
$white: #ffffff;
$black: #000;
$blackLight: #222326;
$green: #1ed760;
$containerBgColor: #9bf0e1;
$gray: #919496;
$pink: #c074b2;
$overlayColor: #000000bf;

/** FONT WEIGHT */
$regularFont: 400;
$boldFont: 700;
$blackFont: 900;

/** SIZE */
$xx: 360px;
$xs: 480px;
$sm: 768px;
$md: 992px;
$xl: 1200px;
