@import "global";

.container {
  grid-area: mainView;
  @include widthHeight(100%, 100%);
  z-index: 2;
  position: sticky;
  top: 0;
  background-color: rgb(96, 112, 128);
  background-image: linear-gradient(#00000099 0, #121212 100%),
    url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjc1IiBzdGl0Y2hUaWxlcz0ic3RpdGNoIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGZpbHRlcj0idXJsKCNhKSIgb3BhY2l0eT0iLjA1IiBkPSJNMCAwaDMwMHYzMDBIMHoiLz48L3N2Zz4=");

  .topContainer {
    @include flex;
    justify-content: space-between;
    @include paddingShort(16px, 32px);
    .btnContainer {
      .btnLeft,
      btnRight {
        background-color: rgba(0, 0, 0, 0.7);
        margin-right: 16px;
        @include widthHeight(32px, 32px);
        border-radius: 50%;
      }
    }

    .profileMenu {
      button {
        @include flex;
        align-items: center;
        color: $white;
        background-color: $black;
        border-radius: 23px;
        padding: 2px;
        figure {
          @include widthHeight(28px, 28px);
          margin-right: 8px;
          img {
            width: 100%;
            border-radius: 50%;
          }
        }

        span {
          text-transform: capitalize;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-right: 5px;
        }
      }
    }
  }
}
