@import 'global';

.container {
  grid-area: mainView;
  background-color: $black;
  width: 100%;
  height: calc(100vh - 88px);
  background-image: url("../../assets/images/bg.jfif");
  overflow: auto;

  @include desktopMax{
    height: calc(100vh - 86px);
  }
}